
<div class="container-fluid home-container d-flex flex-column flex-md-row vh-100">
    <div class="col-12 col-md-5 left-panel d-flex flex-column align-items-center justify-content-center text-center p-4 bg-white">
        <img src="/assets/svg/logo.svg" alt="Logo Easy 2 Drive" class="logo">
        <img src="/assets/svg/title.svg" alt="Easy 2 Drive" class="title-image">
        <div class="mt-4 d-flex flex-column align-items-center">
            <button routerLink="app-connexion" class="btn btn-primary custom-btn1" routerLink="app-connexion" >CONNEXION</button>
            <button class="btn btn-outline-primary custom-btn2" routerLink="app-inscription">INSCRIPTION</button>
        </div>
    </div>
  
    <div class="col-12 col-md-7 right-panel d-flex flex-column align-items-center justify-content-center text-center">
        <div class="bg-white p-2 rounded shadow-lg illustration">
            <video autoplay loop muted class="img-fluid car-video">
                <source src="/assets/video/0316.mp4" type="video/mp4">
            </video>
        </div>
        <div class="description mt-3 p-2 bg-white shadow-lg">
            <p><strong>Bienvenue sur EasyToDrive</strong>,  votre partenaire pour une formation à la conduite réussie ! 

                notre plateforme vous accompagne à chaque étape de votre apprentissage. Avec des outils pédagogiques interactifs, des entraînements en ligne et un suivi personnalisé, nous vous aidons à progresser efficacement et en toute sérénité.
                Rejoignez dès maintenant notre communauté de milliers d'élèves et mettez toutes les chances de votre côté pour obtenir votre permis en toute confiance !</p>
        </div>
    </div>
</div>
