<app-navbar></app-navbar>

<div class="container mt-4">
  <h2>Mon Profil</h2>
  <hr>
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title">Informations Personnelles</h5>
      <div class="mt-3">
        <img src="assets/images/iconfinder-7-avatar-2754582_120519.webp" alt="Photo de profil" style="max-width: 100px; border-radius: 50%;">
      

      <div class="row">
        <div class="col-md-6"> <p class="card-text"><strong>Nom :</strong> [Nom de l'élève]</p>
          <p class="card-text"><strong>Prénom :</strong> [Prénom de l'élève]</p>
          <p class="card-text"><strong>Email :</strong> [Adresse e-mail]</p>
          <p class="card-text"><strong>Téléphone :</strong> [Numéro de téléphone]</p>
          <p class="card-text"><strong>Numéro NEPH :</strong> <span class="valeur-droite">[NEPH]</span></p>
        </div>
        <div class="col-md-6"> <div class="infos-droite">
            <p class="card-text"><strong>Adresse :</strong> <span class="valeur-droite">[Adresse]</span></p>
            <p class="card-text"><strong>Ville :</strong> <span class="valeur-droite">[Ville]</span></p>
            <p class="card-text"><strong>Code postal :</strong> <span class="valeur-droite">[Code postal]</span></p>
          </div>
        </div>
        </div>
      </div >
    </div>
  </div>




  
  
  <div class="container mt-4">
    <h2>Mon Permis de conduire</h2>
    <hr>
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title">Informations sur le Permis</h5>
      <div class="row">
        <div class="col-md-6">
      <p class="card-text"><strong>Type de permis :</strong> [Type de permis]</p>
      <p class="card-text"><strong>Numéro de permis :</strong> [Numéro de permis]</p>
      <p class="card-text"><strong>Date de délivrance :</strong> [Date de délivrance]</p>
      <p class="card-text"><strong>Date d'expiration :</strong> [Date d'expiration]</p>
      <p class="card-text"><strong>Statut :</strong> [Obtenue]</p>
    </div>
    

    <div class="col-md-6"><div class="permis-infos">
        <h5 class="card-title">Permis Obtenu</h5>
        <p class="card-text"><strong>Date d'obtention :</strong> [Date d'obtention]</p>
        <ul class="list-group">
            <li class="list-group-item">
              <strong>Type :</strong> [Type de Permis 1] - <strong>Obtenu le :</strong> [Date d'obtention 1]
            </li>
            <li class="list-group-item">
              <strong>Type :</strong> [Type de Permis 2] - <strong>Obtenu le :</strong> [Date d'obtention 2]
            </li>
            <li class="list-group-item" style="background-color: rebeccapurple;">
                <strong>Type :</strong> [Permis Voiture] - <strong>Obtenu le :</strong> [Date d'obtention 3]
              </li>
              <li class="list-group-item">
                <strong>Type :</strong> [Permis Moto] - <strong>Obtenu le :</strong> [Date d'obtention 4]
              </li>
            </ul>
        </div>
        </div>
    </div>

   
</div>
</div>
</div>
