<app-navbar></app-navbar>
<div class="page-bienvenue d-flex flex-column flex-md-row vh-100">
  <div
    class="col-12 col-md-5 bloc-gauche d-flex flex-column align-items-center justify-content-center text-center p-4 bg-white"
    style="background-image: url('/assets/images/img\ back.png'); background-size: cover;">
    <p class="wlcm-text">Bienvenue sur <br><div style="color: #41499F;"> votre profile.</div></p>



    <div class="boutons-principaux mt-4 d-flex flex-column align-items-center">
      <div class="mt-4">
        <button class="btn btn-success btn-lg" routerLink="/app-eleve-profil">PASSER VOTRE PERMIS</button>
      </div>
    </div>
  </div>


  <div
    style="background-image: linear-gradient(to bottom, #41499F, #171A39); /* Exemple de dégradé noir transparent */;"
    class="col-12 col-md-7 bloc-droit d-flex flex-column align-items-center justify-content-center text-center bg-light p-4">
    <div class="illustration-principale mb-4">
      <p class="slogan lead text-muted mb-4"
        style="font-family: 'Sakana', sans-serif; font-size: 35px;   color: #dee2e6 !important;">AVEC NOUS, L'OBTENTION
        D'UN PERMIS N'A JAMAIS ÉTÉ AUSSI SIMPLE.</p>
      <img src="/assets/images/image 39.png" alt="Illustration Voiture"
        class="img-fluid image-voiture rounded shadow-sm">
    </div>
    <div class="avantages text-left">
      <div class="avantage mb-3">
        <h5 class="font-weight-bold">Un suivi en temps réel de vos résultats des examens</h5>
        <p class="text-muted">Placeholder pour une brève description de la fonctionnalité 1.</p>
      </div>
      <div class="avantage mb-3">
        <h5 class="font-weight-bold">Différents types de permis à passer selon vos besoins</h5>
        <p class="text-muted">Placeholder pour une brève description de la fonctionnalité 2.</p>
      </div>
      <div class="avantage mb-3">
        <h5 class="font-weight-bold">Des conseils pour vous aider à passer plus sereinement votre permis</h5>
        <p class="text-muted">Placeholder pour une brève description de la fonctionnalité 3.</p>
      </div>
    </div>
  </div>



</div>