body {
    background: url('/assets/images/fondco.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    font-family: VAGABONDED, sans-serif;
}



.form-check-input {
    border-color: #41499F;
    background-color: #41499F;
}

.form-label {
    color: #41499F;
    font-weight: bold;
    font-size: 16px; 
}

.form-control {
    border: 1px solid #41499F;
    border-radius: 20px;
    font-size: 16px; 
    font-family: VAGABONDED, sans-serif;
    
}

.login-container {
    background: white;
    border-radius: 70px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.logo {
    width: 230px;
    margin-left: 100px;
}
    


.toggle-buttons button {
    background-color: #ffffff; 
    color: #41499F; 
    border: 2px solid #41499F;
    transition: 0.3s;
    height: 40px; 
    font-family: 'Sakana', sans-serif;
    border-radius: 60px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}


.toggle-buttons button:hover {
    background-color: #41499F;
    color: white;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

.btn.active {
    background-color: #41499F !important; 
    color: white !important;
    border-color: #41499F;
}

.input-group .eye-icon {
    width: 24px;
    cursor: pointer;
}

button[type="submit"] {
    font-size: 1.2rem;
    max-width: 230px; 
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    height: 45px; 
    font-family: 'Sakana', sans-serif;
    background-color: #41499F ;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

button:hover[type="submit"]  {
    background-color: #ffffff;
    color: #41499F;
    border-color: #41499F;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

