<body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="login-container p-5" style="max-width: 600px; width: 100%;">
            <div class="text-center mb-5">
                <img src="/assets/svg/logo.svg" alt="E2D Logo" class="logo">
            </div>

            <!-- Boutons de sélection -->
            <div class="toggle-buttons d-flex justify-content-center mb-5">
            <!--    <button class="btn me-3 px-4 py-1" 
                        [ngClass]="{'btn-primary': selectedButton === 'student', 'btn-outline-primary': selectedButton !== 'student'}"
                        (click)="setActiveButton('student')">
                    Étudiant
                </button>-->
            
             <!--   <button class="btn px-4 py-1" 
                        </button> [ngClass]="{'btn-primary': selectedButton === 'moniteur', 'btn-outline-primary': selectedButton !== 'moniteur'}"
                        (click)="setActiveButton('moniteur')">
                    Moniteur
                </button>-->
            </div>

            <!-- Formulaire de connexion -->
            <form (ngSubmit)="onSubmit()">
                <div class="mb-4 text-start">
                    <label for="login" class="form-label">Identifiant</label>
                    <input type="text" class="form-control p-3" id="login" placeholder="Entrez Identifiant" [(ngModel)]="eleve.login" name="login" required>
                </div>
                
                <div class="mb-4 text-start position-relative">
                    <label for="mot_de_passe" class="form-label">Mot de passe</label>
                    <div class="input-group">
                        <input [type]="showPassword ? 'text' : 'password'" class="form-control p-3" id="password" placeholder="Entrez votre mot de passe" [(ngModel)]="eleve.mot_de_passe" name="mot_de_passe" required>
                        <button class="btn btn-outline-secondary" type="button" id="toggle-password" (click)="togglePasswordVisibility()">
                            <img [src]="showPassword ? '/assets/svg/eye-icone.svg' : '/assets/svg/eye.svg'" alt="Afficher/Masquer" class="eye-icon" style="width: 24px;">
                        </button>
                    </div>
                </div>            

                <div class="mb-4 form-check text-start">
                    <input type="checkbox" class="form-check-input" id="rememberMe">
                    <label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
                </div>

                <button type="button" (click)="onLogin()" class="btn btn-primary w-100 py-2">CONNEXION</button>
                <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
            </form>
        </div>
    </div>
</body>
